*{
    margin: 0px;
    padding: 0px;
}
body{
background-color: purple;


}
.parent{
    margin: 100px 200px;
    height: 270px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    border: 13px solid orange;

}
.month{
    height: 50px;
    background-color: red;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    color: white;
    border-radius: 8px 8px 0px 0px;
    line-height: 2.5rem;
}
.pday{
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    color: grey;
    letter-spacing: 1.5px;
}
.date{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 30px;
}
.year{
    text-align: center;
    color: grey;
    font-size: 1.2rem;
}
